body {
    font-family: Raleway, serif, sans-serif;
    
    font-size: 15px;
}

main {
    margin: 0;
    
}
h1 {
    font-size: 100%;
}

h2 {
    font-size: 130%;
    ;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

header #logo {
    padding: 35px 0px;
}

header #logo img {
    width: 100px;
}

header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

header nav ul li {
    padding: 50px 25px;
    border-top: 4px solid transparent;
    margin: 0px 20px 0px 20px;
}

header nav ul li:hover {
    border-color: #0065FC;
}

header nav ul li a {
    color: black;
    text-decoration: none;
}

header nav ul li:hover a {
    color: #0065FC;
}


h1 {
    font-size: x-large;
    margin-bottom: 5px
}

.subtitle {
    display: block;
    margin-bottom: 10px;
}

.research {
    display: flex;
    
    
}


.research i {
    padding: 1rem;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
}
.research input {
    margin-left: 0;
    margin-right: 0;
    padding-right: 5em;
    border: 2px solid #F2F2F2;
    flex-basis:  250px;
}
.research input::placeholder{
    color: black;
    font-weight: bold;
    font-size: 15px
    
}

.research .search-text{
    background-color: #0065FC;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1.5rem;
    border: none;
    margin-left: 0;

}
.resaerch .fas.fa-map-marker-alt {
    margin-top: -50px;
}

.mobile-search {
    display: none;
}


/* Header */

/*      Filters     */

#filters {
    display: flex;
    align-items: center;
}

#filters .filter-box {
    margin: 10px 10px;
    border-radius: 30px;
    border: 2px solid #F2F2F2;
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 1s;
}

#filters .filter-box i {
    color: #0065FC;
    height: 50px;
    width: 50px;
    display: inline-block;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#filters .filter-box:hover {
    transition: background-color 1s;
    background-color: #DEEBFF;
}

#filters .filter-box .text {
    padding-left: 0px;
    padding-right: 10px;
    display: flex;
    align-items: flex-end;
}

/*filters*/


/*informations*/

.info {
    display: flex;
}

.info .fas.fa-info {
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

/*informations*/


/*lodging*/

#lodging {
    display: flex;
    justify-content: space-between;
}

#lodging section h2 {
    margin-top: 0px;
}

#lodging section .container {
    background-color: #F2F2F2;
    padding: 20px 20px 10px 20px;
    border-radius: 20px;
    height: calc(120% - 120px);
    box-sizing: content-box;
}

.lodging-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.lodging-list a {

    width: 30%;
    margin-bottom: 50px;
}



.lodging-list a article {
    background-color: white;
    padding: 6px;
    border-radius: 25px;
    height: 100%;
}



.lodging-list a article {
    box-shadow: 5px 5px 5px 0px #E2E2E2;
}



.lodging-list a article .fa-star.blue {
    color: #0065FC;
}



.lodging-list a article .fa-star.grey {
    color: #E2E2E2;
}



.lodging-list a article img {
    width: 100%;
    height: 125px;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}



.lodging-list a {
    color: black;
    text-decoration: none;
}



.lodging-list a article .article-content {
    padding: 10px 10px 0px 10px;
}



.lodging-list a article .article-content h3,
.lodging-list a article .article-content p {
    margin: 6px;
}


.lodging-list a article .article-content .price.bold {
    font-weight: bold;
}



/*lodging*/

/*    lodging-marseille  */

#lodging .lodging-marseille {
    width: 65%;
    margin-right: 40px;
}

#lodging .lodging-marseille .view-more {
    font-weight: bold;
    font-size: 120%;
}
/*lodging-marseille*/


/*lodging-popular*/

#lodging .popular .chart-icone {
    position: absolute;
    top: 20px;
    right: 20px;
}

#lodging .popular {
    width: 40%;
    position: relative;
}

#lodging .popular .lodging-list {
    flex-direction: column;
}

#lodging .popular .lodging-list a {
    width: 100%;
}

#lodging .popular .lodging-list a article {
    display: flex;
    flex-direction: row;
}

#lodging .popular .lodging-list a article img {
    border-radius: 25px 0px 0px 25px;
    width: 35%;
}

#lodging .popular .lodging-list a article .article-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.lodging-list-popular {
    display:flex;
    flex-direction: column;
}

/*lodging-popular*/


/* activities */

#activities {
    margin-bottom: 80px;
    margin-top: 80px;
}

.activity-list {
    display: flex;
    justify-content: space-evenly;
    height: 550px;
}

.activity-list .column{
    width: 20%;
    flex-direction: column;
    border-radius: 25px;
    
}

.activity-list .column article img {
    width: 100%;
    height: calc(90% - 60px);
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

.activity-list .column article {
    height: 100%;
    box-shadow: 0px 0px 10px 0px #E0E0E0;
    border-radius: 25px;
}


.activity-list .column article h3 {
    padding: 21px;
    margin: 0px;
    
}


.activity-list .column a {
    height: 150%;
    text-decoration: none;
    color: black;
}

/* activities*/

/*      footer       */

footer {
    background-color: #F2F2F2;
    margin: 0px -15px;
    padding: 50px;
    display: flex;
}

footer .column {
    width: 30%;
}

footer .column ul {
    padding: 0px;
    list-style-type: none;
}

footer .column ul li a {
    color: black;
    text-decoration: none;
    line-height: 35px;
}
/* footer */

/* tablette */

@media screen and (max-width: 992px)


{
    .lodging-list-popular a article .article-content .price.bold {
        font-weight: bold;
    }
    
    .lodging-list-popular a article .article-content h3,
    .lodging-list-popular a article .article-content p {
        margin: 6px;
    }
    
    .lodging-list-popular a article .article-content {
        padding: 10px 10px 0px 10px;
    }
    
    .lodging-list-popular a {
        color: black;
        text-decoration: none;
    }
    
    .lodging-list-popular a article img {
        width: 100%;
        height: 125px;
        border-radius: 25px 25px 0px 0px;
        object-fit: cover;
    }
    
    .lodging-list-popular a article .fa-star.grey {
        color: #E2E2E2;
    }
    
    .lodging-list-popular a article .fa-star.blue {
        color: #0065FC;
    }
    
    .lodging-list-popular a article {
        box-shadow: 5px 5px 5px 0px #E2E2E2;
    }
    
    .lodging-list-popular a article {
        background-color: white;
        padding-top: 5px;
        padding-bottom: 0px;
        border-radius: 25px;
        height: 100%;
    }
    
    .lodging-list-popular a {
    
        width: 30%;
        margin-bottom: 50px;
        margin-right: 15px;
    }
    
    .lodging-list-popular {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
   

    #filters {
        flex-wrap: wrap;
    }
    
    #lodging {
        flex-direction: column;
        
    }
    
    #lodging .lodging-marseille,
    #lodging .popular {
        width: 100%;
        margin-bottom: 20px;
        
    }
    
    #activities .activity-list {
        flex-wrap: nowrap;
        height: auto;
        
    }
    
    #activities .activity-list .column {
        height: 420px;
        width: 100%;
        margin-right: 25px;
        margin-left: 25px;
        
    }

 
    
    footer {
        justify-content: space-between;
    }
    
    footer .column {
        width: auto;
    }
}
/* tablette */

/* mobile */

@media screen and (max-width: 768px) 

{ 
    body {
        padding: 10px 10px;
        
    }
    
    header {
        flex-direction: column;
    }
    
    header #logo {
        margin: auto;
    }
    
    header nav ul {
        margin: 0px -20px;
        padding: 0;
    }
    
    header nav ul li {
        width: 50%;
        padding: 20px;
        text-align: center;
        margin: 0px;
        border-top: none;
        border-bottom: 2px solid #F2F2F2;
    }
    
    .research {
        display: flex;
        justify-content: center;
        
    }
    
    .mobile-search {
        display: inline-block;
        width: 60px;
        height: 60px;
        background-color: #0065FC;
        margin-left: -15px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        
        
       
    }
    
    .research .mobile-search .fa-search {
        display: flex;
        justify-content: center;
        background-color: #0065FC;
        color: white;
        font-size: large;
        
    
    }
    .research .fas.fa-map-marker-alt {
        
        padding-top: 20px;
        padding-left: 20px;
    }

    

    .research .search-text {
        display: none;
    }
   
    
    #filters {
        flex-direction: column;
        align-items: flex-start;

    }
   
    
    #lodging .lodging-marseille {
        order: 2;
    }
    
    #lodging .popular {
        order: 1;
    }
    
    #lodging .lodging-marseille .lodging-list {
        flex-direction: column;
    }
    
    #lodging .lodging-marseille .lodging-list a {
        width: 100%;
    }
    
    #activities{
        width: 100%;

    }
    
    .activity-list {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 250px;
        margin-bottom: -20px;
    }

    .activity-list .column  {
        height: 250px;
        margin-bottom: 20px;
        margin-top: 25px;
    }

    .lodging-list-popular {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    footer {
        flex-direction: column;
    }
}

/* mobile */